.gitignore

# Ignore checkpoint files
.ipynb_checkpoints
*.ipynb_checkpoints

# Ignore pdf files
*.pdf

# Ignore zip files
*.zip

**openSAP_python1_Week_?_All_Slides.pdf

**openSAP_phyton1_Week_?_All_notebooks.zip